html,
body {
    margin: 0;
    height: 100%;
}

body {
    perspective: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#tile-container {
    transform: translateZ(calc(-1 * var(--carousel-translateZ))) rotate3d(0, 1, 0, 0deg);
    transform-style: preserve-3d;
    width: 500px;
    height: 420px;
    animation: rotate 10s linear infinite;
}
     
.tile {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.7;
}
     
/* Set rotateY value programatically, based on the number of tiles */
#tile-1 {
    background-image: url("img/like.png");
    background-color: #914E67;
    transform: rotateY(0deg) translateZ(var(--carousel-translateZ));
}
     
#tile-2 {
    background-image: url("img/idea.png");
    background-color: #4FBA6F;
    transform: rotateY(36deg) translateZ(var(--carousel-translateZ));
}
     
#tile-3 {
    background-image: url("img/clock.png");
    background-color: #5192D2;
    transform: rotateY(72deg) translateZ(var(--carousel-translateZ));
}
     
#tile-4 {
    background-image: url("img/star.png");
    background-color: #E8BF1C;
    transform: rotateY(108deg) translateZ(var(--carousel-translateZ));
}
     
#tile-5 {
    background-image: url("img/note.png");
    background-color: #5D7586;
    transform: rotateY(144deg) translateZ(var(--carousel-translateZ));
}

#tile-6 {
    background-image: url("img/bouncy-castle.png");
    background-color: #f82170;
    transform: rotateY(180deg) translateZ(var(--carousel-translateZ));
}

#tile-7 {
    background-image: url("img/masks.png");
    background-color: #2e0707;
    transform: rotateY(216deg) translateZ(var(--carousel-translateZ));
}

#tile-8 {
    background-image: url("img/railroad.png");
    background-color: #0edb29;
    transform: rotateY(252deg) translateZ(var(--carousel-translateZ));
}

#tile-9 {
    background-image: url("img/windmill.png");
    background-color: #0697ff;
    transform: rotateY(288deg) translateZ(var(--carousel-translateZ));
}

#tile-10 {
    background-image: url("img/hot-air-balloon.png");
    background-color: #e3e6e9;
    transform: rotateY(324deg) translateZ(var(--carousel-translateZ));
}
    
@keyframes rotate {
    0% {
        transform: translateZ(calc(-1 * var(--carousel-translateZ))) rotate3d(0, 1, 0, 0deg);
    }
    100% {
        transform: translateZ(calc(-1 * var(--carousel-translateZ))) rotate3d(0, 1, 0, 360deg);
    }
}